@model Quiz.Database.ViewModels.ExaminationVM
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/StaticFiles/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";
}

<div class="form-group forn-group-info">
    <label class="control-label">User :  </label>
    <label class="control-label form-control-user-email">@Model.account.Email_User </label>
</div>

<h2 class="title">Examinations</h2>

<table class="table table-hover table-hover-text-center">
    <thead class="text-center">
        <tr  class="table-primary"> 
            <th scope="col">No.</th>
            <th scope="col">Name Of Examination</th>
            <th scope="col">Content</th>
            <th scope="col">Short Description</th>
            <th scope="col">Number Of Question</th>
            <th scope="col">Time Of Exam</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody  class="table-active">
        @{
            string ContentLimitLength(string a)
            {
                return (a.Length >= 35) ? (a.Substring(0,34)+"...") : a;
            }
            int i = 0;
        @foreach (var item in Model.examinations) {
        <tr scope="row" class="text-center">
            <td class="text-center">@(++i)</td>
            <td style="text-align: left;padding-left:15px;">@ContentLimitLength(@item.Name)</td>
            <td style="text-align: left;padding-left:15px">@ContentLimitLength(@item.Content)</td>
            <td style="text-align: left;padding-left:15px">@ContentLimitLength(@item.ShortDes)</td>
            <td class="text-center">@item.NumberOfQuestions</td>
            @if(@item.IsTimeRetricted =="1")
            {
                <td>@item.Duration'</td>
            }
            else {
                <td>--</td>
            }
            <td class="text-center">
                <form asp-action="DoExam" asp-controller="Examination" asp-route-id="@item.Id">
                    <div class="btn-group btn-group-sm">
                        <button type="submit" class="btn btn-primary" style="width:90px ;height: 30px; font-size:12px"
                            onclick="return confirm('Are you ready to do this exam?')">Take exam
                        </button>
                    </div>
                </form>
            </td>

        </tr>
        }
    }
    </tbody>
    
</table>
