@model Quiz.Database.ViewModels.AccountsVM
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/StaticFiles/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";
}


<h1>List Accounts</h1>
<a class="btn btn-link" asp-action="Create">Create</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Email_User</th>
            <th scope="col">Password</th>
            <th scope="col">Authority</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
         @{
            string Authority(String a)
            {
                return (a == "0") ? "Admin" : ((a == "1") ? "user" : "");
            }
        int i = 0;
            
        @foreach (var item in Model.accounts) { 
               i++;
        <tr style="">
        <td>@i</td>
            <td>@item.Email_User</td>
            <td>@item.Password</td>
            <td>@Authority(item.Authority)</td>
            <td>@item.Name</td>
            <td>@item.DOB</td>
            <td>@item.PhoneNumber</td>
            <td>
                <form asp-action="Delete" asp-controller="Accounts" asp-route-id="@item.Email_User">
                    <div class="btn-group btn-group-sm">
                        <a asp-action="Edit" asp-controller="Accounts" asp-route-id="@item.Email_User" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure to delete this record?')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </form>
            </td>
        </tr>
        }
    }
    </tbody>