@model Quiz.Database.ViewModels.AccountsVM

@{
    ViewData["Title"] = "Index";
}
<div class="title-name">
<h1>Info-user</h1>
   <label class="control-label">User :  </label>
<label class="control-label form-control-user-email">@Model.account.Name </label>
</div>
<hr/>
<div class="row">
   
        <dt class = "col-sm-2">
             @Html.DisplayNameFor(model => model.account.Email_User)
        </dt>
        <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.account.Email_User)
        </dd>
        <dt class = "col-sm-2">
             @Html.DisplayNameFor(model => model.account.Password)
        </dt>
        <dd class = "col-sm-10">
             @Html.DisplayFor(model => model.account.Password)
        </dd>
        <dt class = "col-sm-2">
          @Html.DisplayNameFor(model => model.account.Authority)
        </dt>
        <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.account.Authority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.account.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.account.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.account.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.account.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account.CreateDate)
        </dd>
       
 </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    
}

